<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.3">
    <!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
    <id>uesrpg</id>
    <!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
    <version>1.0</version>
    <name>UESRPG-TES</name>
    <description>Adiciona suporte para fichas para o sistema The Unofficial Elder Scrolls RPG- 2E.</description>
    <author>Gustavo Rodarte</author>
    <site>http://www.seusite.com.br</site>
    <contact>guga.rodarte@hotmail.com</contact>
</module>
